<% provide(:title, @user.name) %>

<div class="center hero-unit">

	<%= link_to "Time", activities_new_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Money", '#', class: "btn btn-large btn-primary" %>

</div>

