<div class="center hero-unit">
	<h1>El Tiempo es Oro</h1>

	<h2>
		Nuestros mas preciados recursos.
	</h2>
	<%= link_to "Comenzar", new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
