

<footer class="footer">
		<small>
		<a href="http://zenpencils.com">Zen Pencils</a> Do it
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", '#' %></li>
				<li><%= link_to "Sebas", '#' %></li>
			</ul>
		</nav>
</footer>
